/*testimonial.scss*/

.testimonial {
	background: url('../img/testimonial-bg.jpg') no-repeat center center;
	background-size: cover;
	padding: 5% 0;
	h1, h3 {
		color: $white;
	}
	h1 {
		text-align: center;
	}
	h3 {
		text-align: right;
	}
}